.footer-utnials {
    background-color: var(--color-blanco);
    font-family: "Lucida Grande", Tahoma, Verdana, Arial, sans-serif;
    font-size: 11px;
    color: var(--color-gris);
    padding: 20px 0;
    width: 100%;
}

body.dark-theme .footer-utnials {
    background-color: var(--color-primario);
    color: var(--color-gris);
}

.contenido-footer {
    max-width: 980px;
    margin: 0 auto;
    padding: 0 20px;
}

.fila-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.fila-footer p, 
.fila-footer a, 
.fila-footer .separador {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    line-height: 1;
}

.fila-footer.superior {
    margin-bottom: 8px;
}

.footer-utnials a { 
    color: var(--fondo-btn); 
    text-decoration: none; 
}

body.dark-theme .footer-utnials a {
    color: #b53fa7;
}

.footer-utnials a:hover {
    text-decoration: underline;
}

.fila-footer .separador {
    color: var(--color-gris);
    padding: 0 6px;
}

.footer-utnials .idioma-seleccionado {
    color: var(--color-gris);
    font-weight: bold;
    cursor: default;
}

body.dark-theme .footer-utnials .idioma-seleccionado {
    color: var(--color-blanco);
}

.footer-utnials .idioma-seleccionado:hover {
    text-decoration: none;
}

.divisor-footer {
    border-top: 1px solid var(--color-gris);
    margin: 8px 0;
}

body.dark-theme .divisor-footer {
    border-top: 1px solid var(--color-secundario);
}

.fila-footer a, 
.fila-footer p {
    margin-right: 4px;
    margin-left: 4px;
}