<div class="contenedor-feed-publicaciones">
  
  <div class="tarjeta-crear-publicacion">
    <form [formGroup]="formPublicacion" (ngSubmit)="publicar()">
      
      <div class="crear-cabecera-entradas">        
        <div class="contenedor-entradas">
          <input 
            type="text" 
            placeholder="Título de tu publicación..."
            formControlName="titulo"
            class="entrada-titulo"
          />
          
          <textarea 
            placeholder="¿Qué estás pensando?"
            formControlName="descripcion"
            rows="2"
            class="area-contenido"
          ></textarea>
        </div>
      </div>
      
      <div class="crear-pie">
        
        @if (!imagenPrevisualizada()) {
          <label class="boton-adjuntar-foto">
            <i class="ri-camera-3-fill"> Agregar Imagen</i>
            <input 
              type="file" 
              accept="image/*" 
              (change)="seleccionarFoto($event)" 
              style="display: none;"
            />
          </label>
        } @else {
          <div class="previsualizacion-imagen">
            <img [src]="imagenPrevisualizada()" alt="Previsualización">
            <button type="button" class="boton-quitar-foto" (click)="borrarFoto()">X</button>
          </div>
        }

        <button 
          type="submit"
          class="boton-publicar" 
          [disabled]="formPublicacion.invalid"
        >
          Publicar
        </button>
      </div>

    </form>
  </div>

  <div class="filtros-publicaciones">
    <span>Ver Publicaciones:</span>
    <button 
      [class.activo]="filtroActual() === 'createdAt'" 
      (click)="filtroActual.set('createdAt')"> Más recientes
    </button>
    <button 
      [class.activo]="filtroActual() === 'likesCantidad'" 
      (click)="filtroActual.set('likesCantidad')"> Más populares
    </button>
  </div>

  <div class="lista-feed">
    @for (publi of listaPublicaciones(); track publi._id) {
      <app-publicaciones-card
        [idPublicacion]="publi._id"
        [avatarAutor]="publi.autor!.imagen"
        [nombreAutor]="(publi.autor!.nombre) + ' ' + (publi.autor!.apellido)"
        [usernameAutor]="publi.autor!.username"
        [fechaCreacion]="publi.createdAt"
        [tituloPost]="publi.titulo"
        [contenidoPost]="publi.descripcion"
        [imagenPost]="publi.imagenUrl || ''"
        [textButtonLike]="(publi.likes || []).includes(usuarioLogueado()?._id || '') ? 'ri-heart-fill' : 'ri-heart-line'"
        [likesArray]="publi.likes || []"
        [likesCount]="publi.likesCantidad || 0"
        [autorId]="publi.autor!._id || ''"
      ></app-publicaciones-card>
    } @empty {
      <p class="sin-publicaciones">No hay publicaciones para mostrar.</p>
    }

    @if (hayMasPublicaciones() && listaPublicaciones().length > 0) {
      <button class="btn-cargar-mas-publicaciones" (click)="cargarMas()">
        Cargar más publicaciones
      </button>
    }
  </div>

</div>