:root {
    --fondo-btn: rgb(2, 78, 132);
    --color-borde-btn: rgb(5, 38, 100);
    --color-primario: rgb(32, 68, 152);
    --color-secundario: rgb(136, 153, 205);
    --color-error: red;
    --color-negro: black;
    --color-blanco: white;
    --color-gris: gray;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100vh; 
    width: 100%; 
    overflow-x: hidden; 
    display: flex;
    flex-direction: column;
}

.error-mensaje {
    color: var(--color-error);
    font-size: 11px;
    margin-top: 2px;
}

header, footer {
    flex-shrink: 0;
}

main {
    flex: 1;
    width: 100%;
    overflow-y: auto; 
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer {
    margin-top: auto; 
}